# Node Environment
NODE_ENV=development

# Port
PORT=3000

# Database URL
DB_URL=

# Redis URL
REDIS_URL=

# Password hashing salt rounds
SALT_ROUNDS=

# Phone number encryption
ENCRYPTION_KEY=
ENCRYPTION_ALGO=

# Token Generation Secrets
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_PENDING_AUTH_SECRET=

# SMTP server cred. for sending emails
SMTP_USER=
SMTP_PASS=

# Google Login/Signup
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Domain of the front end 
FRONTEND_URL=

# Cloudflare credentials
R2_BUCKET_NAME=
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=